*
body{
    margin: 0;
    padding: 0;
}
*
#header{
    background-color: #0b003c;
    display: block;
    position: relative;
    min-width: 100%;
}
#headerSection{
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
    grid-gap: 10px;
    width: 90%;
    margin: 0px auto;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    position: ;
}

.menuSection{
    display: flex;
    height: 100%;
    align-items: center;
}
.menuSection button{
    font-weight: 800;
    border: none;
    background: transparent;
    color: aqua;
    font-size: 40px;
}
.menuBar{
    display: flex;
    justify-content: space-evenly;
    width: 100% ;
    margin: 0;
    list-style: none;
}

.menuBar li a{
    position: relative;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    
    z-index:1;
    transition: 0.5s;

}
.menuBar li a:hover{
    color: rgb(91, 172, 248);
    
    
}
.menuBar li a::before{
    content: '';
    position: absolute;
    background-color: #11044b;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: left;
    transition: all 0.5s ease;
    border-radius: 10px;
    border-bottom: 3px dotted rgb(111, 93, 218);
    box-shadow: 0px 8px 10px #564ec7;
}
.menuBar li a:hover:before{
    transform-origin: right;
    width: 100%;
}
#input-search{
    outline: none;
    border: 1px solid rgb(0, 162, 255);
    padding: 5px;
    background: left linear-gradient(45deg ,rgb(3, 3, 63) , rgb(5, 5, 163)) ;
    color: azure;
    border-radius: 5px;
    width: 60%;
}
#input-search::placeholder{
    color: rgb(104, 184, 250);
    font-weight: 600;
}
#search-btn{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(104, 184, 250);
    background: linear-gradient(45deg, rgb(3, 3, 63), rgb(5, 5, 163));
    border-radius: 5px;
    padding: 5px 40px;
    position: relative;
    z-index: 1;
    font-weight: 600;
    transition: 0.5s;
}
#search-btn:hover{
    color:rgb(86, 223, 241)
}

#search-btn::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgb(5, 5, 163), rgb(3, 3, 63) );
    transition: all 0.5s;
    box-shadow: 0px 0px 50px rgb(36, 126, 245);
    z-index: -1;

}
#search-btn:hover:before{
    width: 100%;
}


#huawei {
    background-image: url(../image/huawei.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
}

#Samsung {
    background-image: url(../image/samsung.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
}


#I-phone{
    background-image: url(../image/iphone.jpg);
    background-size: cover;
    color: rgb(255, 0, 0);
    background-repeat: no-repeat;
}

#item-container{
display: flex;
flex-wrap: wrap;
gap: 20px;
}
/* .card-items{
    background-color: #0b003c;
}
.card-items img{
    border-radius: 25px;
} */